.navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: red;
  color: #fff;
}

.logo {
  font-size: 30px;
  font-family: 'Comic Sans MS', cursive;
}

.search-container {
  margin: 0 auto;
  display: flex;
  background-color: transparent;
  border-radius: 20px;
  overflow: hidden;
  width: 55%; /* Ajusta el ancho de la barra de búsqueda */
}

.search-input {
  flex-grow: 1; /* Haz que el input de búsqueda ocupe todo el espacio disponible */
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 100%;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: transparent;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}
.icons {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 11px;
}
.rule{
  max-width: 25px;
  max-height:25px ;
}

.carri{
  margin-top: -2px;
   max-width: 25px;
   max-height: 25px;
}
