.gourmet{
    max-width: 9%;
    max-height: 9%;
}

.rapida{
    max-width: 9%;
    max-height: 9%;

}
.vegetariano{
    max-width: 9%;
    max-height: 9%;
}

.gusto {
    text-align: left
  }
  
  .imagenes-container {
    display: flex;
    
  }
  
  .imagen-item {
    text-align: center;
    margin: 20px;
  }
  
  .imagen-item img {
    max-width: 100%;
    height: auto;
  }
  
  .imagen-item p {
    margin-top: 2px;
  }
  
  /* Añade este estilo para evitar que el texto se desplace hacia arriba */
  h2 {
    margin-bottom: 10px;
  }
  .imagen-content img {
    width: 9%;
  }
  
  
      
      


