.mcdonal{
    max-width: 9%;
    max-height: 9%;
    margin-left: 50px;
}
.frisby{
    max-width: 9%;
    max-height: 9%;
    border-radius: 80px;
    
}
.frisby-name{
    margin-left: 32px;
}

.creeps{
    max-width: 13%;
    max-height: 13%;
    margin-left: 20px;
    margin-left: 50px;
}
.corral{
    max-width: 9%;
    max-height: 9%;
    margin-left: 19px;
    margin-left: 50px;
}
.pizzahunt{
    max-width: 9%;
    max-height: 9%;
    margin-left: 19px;
    margin-left: 50px;
}
  